body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#output-container {
    width: 22%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(16, 174, 222, 0.934);
}

#output-container h2 {
    margin-top: 0;
}

#output-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#output-container li {
    margin-bottom: 10px;
}

#output-container li span {
    font-weight: bold;
}